Lib/src/EC/TECkit Mapping Editor/UnicodeRanges.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UnicodeRanges">
	<xs:complexType>
	  <xs:sequence>
		<xs:element maxOccurs="unbounded" name="UnicodeRange">
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="Range">
				<xs:complexType>
				  <xs:attribute name="begin" type="xs:hexBinary" use="required" />
				  <xs:attribute name="end" type="xs:hexBinary" use="required" />
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		  </xs:complexType>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>