DistFiles/Language Explorer/Import/ImportFields.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT AbbreviationSignatures EMPTY>
<!ATTLIST AbbreviationSignatures
	names CDATA #REQUIRED
>
<!ELEMENT Class (Field+)>
<!ATTLIST Class
	name (Entry | Etymology | Example | Function | Picture | Pronunciation | SemanticDomain | Sense | Subentry | Variant) #REQUIRED
	partOf CDATA #REQUIRED
>
<!ELEMENT Field (Help?)>
<!ATTLIST Field
	id ID #REQUIRED
	type (date | string) #REQUIRED
	property CDATA #REQUIRED
	uiname CDATA #REQUIRED
	signature CDATA #REQUIRED
	list (no | yes) #IMPLIED
	multi (no | yes) #IMPLIED
	MDF CDATA #IMPLIED
	autofield CDATA #IMPLIED
	ref CDATA #IMPLIED
	unique CDATA #IMPLIED
>
<!ELEMENT Help (Usage?, Settings?, Mapping?, Appends?, List?, Multilingual?, Examples?, RelatedFields?, Limitations?, Extras?)>
<!ELEMENT ImportFields (AbbreviationSignatures, Class+)>
<!ELEMENT Usage (#PCDATA)>
<!ELEMENT Settings (#PCDATA)>
<!ELEMENT Mapping (#PCDATA)>
<!ELEMENT Appends (#PCDATA)>
<!ELEMENT List (#PCDATA)>
<!ELEMENT Multilingual (#PCDATA)>
<!ELEMENT Example (#PCDATA)>
<!ELEMENT RelatedFields (#PCDATA)>
<!ELEMENT Limitation (#PCDATA)>
<!ELEMENT Extra (#PCDATA)>
<!ELEMENT Examples (Example+)>
<!ELEMENT Limitations (Limitation+)>
<!ELEMENT Extras (Extra+)>
