Src/P4Helper/p4helper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by John Hatton (SIL International) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="dir">
		<xs:complexType>
			<xs:attribute name="path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType>
			<xs:attribute name="txt" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skipDirs"/>
				<xs:element ref="skipNameParts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="skipDirs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dir" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="skipNameParts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
