Src/P4Helper/p4HelperConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="p4HelperConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="skipDirs">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="directory" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="path" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="skipNameParts">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="part" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="pattern" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
