Src/LexText/GAFAWS/GAFAWSAnalysis/XML/GAFAWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Randy Regnier (SIL International) -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!-- RandyR, 8 Mar 2002. Added Classes to schema -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="GAFAWSData">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="WordRecords">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WordRecord" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Prefixes" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Affix" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Stem">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Other" minOccurs="0"/>
												</xsd:sequence>
												<xsd:attribute name="MIDREF" type="xsd:IDREF" use="required"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Suffixes" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element ref="Affix" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element ref="Other" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="WRID" type="xsd:ID" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Morphemes">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Morpheme" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Other" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="MID" type="xsd:ID" use="required"/>
									<xsd:attribute name="type" type="xsd:string" use="required"/>
									<xsd:attribute name="StartCLIDREF" type="xsd:IDREF"/>
									<xsd:attribute name="EndCLIDREF" type="xsd:IDREF"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Classes">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PrefixClasses">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Class" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="SuffixClasses">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="Class" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Challenges">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Challenge" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="message" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Other" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="date" type="xsd:string"/>
			<xsd:attribute name="time" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Class">
		<xsd:complexType>
			<xsd:attribute name="CLID" type="xsd:ID" use="required"/>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="isFogBank" type="xsd:string" default="0"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Affix">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Other" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="MIDREF" type="xsd:IDREF" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Other">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
