Lib/src/HermitCrab.NET/HermitCrabInput.dtd

<!-- Hermit Crab input file DTD
	   Based on Maxwell, Mike.  1999.  "Hermit Crab Parsing Engine Specification."  SIL ms.
-->
<!ELEMENT  HermitCrabInput (Language+, Commands? ) >
<!ELEMENT  Language (Name, PartsOfSpeech, Strata+, Lexicon, PhonologicalFeatureSystem*, CharacterDefinitionTable+, NaturalClasses*,
														 PhonologicalRules*, MorphologicalRules*, SyntacticRules?, MorphologicalPhonologicalRuleFeatures?, HeadFeatures?, FootFeatures?) >
<!--
  Note: at most one should be active at a time
  -->
<!ATTLIST Language
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!--
   =====================
   PartsOf Speech
   =====================
-->
<!ELEMENT PartsOfSpeech (PartOfSpeech*) >
<!ELEMENT PartOfSpeech (#PCDATA) >
<!ATTLIST PartOfSpeech
  id ID #REQUIRED
>
<!--
   =====================
   Lexicon
   =====================
-->
<!ELEMENT Lexicon (LexicalEntry*, Families) >
<!--ELEMENT LexicalEntry  (PhoneticShape, Gloss?, AssignedHeadFeatures?, AssignedFootFeatures?, RequiredEnvironments?, ExcludedEnvironments?,
						 RequiredMorphemeCoOccurrences?, ExcludedMorphemeCoOccurrences?, Properties?)-->
<!ELEMENT LexicalEntry  (Allomorphs, Gloss?, AssignedHeadFeatures?, AssignedFootFeatures?, RequiredMorphemeCoOccurrences?, ExcludedMorphemeCoOccurrences?)>
<!--
	family refers to a family element ID
	partOfSpeech refers to a PartOfSpeech ID
	morphologicalRules refers to one or more MorphologicalRule, RealizationalRule and/or CompoundingRule IDs
	stratum refers to a Stratum ID
	subcategorizations refers to one or more SyntacticRule IDs
	ruleFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
	obligatoryHeadFeatures refers to one or more (HeadFeature) FeatureDefinition IDs
	obligatoryFootFeatures refers to one or more (FootFeature) FeatureDefinition IDs
	-->
<!ATTLIST LexicalEntry
  id ID #REQUIRED
  isActive (yes | no) "yes"
  family IDREF #IMPLIED
  partOfSpeech IDREF #REQUIRED
  morphologicalRules IDREFS #IMPLIED
  stratum IDREF #REQUIRED
  subcategorizations IDREFS #IMPLIED
  ruleFeatures IDREFS #IMPLIED
  obligatoryHeadFeatures IDREFS #IMPLIED
  obligatoryFootFeatures IDREFS #IMPLIED
>

<!ELEMENT Allomorphs (Allomorph+) >

<!ELEMENT Allomorph (PhoneticShape, RequiredEnvironments?, ExcludedEnvironments?, RequiredAllomorphCoOccurrences?, ExcludedAllomorphCoOccurrences?, Properties?) >
<!ATTLIST Allomorph
  id ID #REQUIRED
  isActive (yes | no) "yes"
>

<!ELEMENT PhoneticShape (#PCDATA) >
<!ELEMENT Gloss (#PCDATA) >
<!ATTLIST Gloss
  id ID #REQUIRED
>
<!-- Families are used to block analyses for irregular forms (e.g. preventing the regular form from also analyzing) -->
<!ELEMENT Families (Family*) >
<!ELEMENT Family (#PCDATA) >
<!ATTLIST Family
  id ID #REQUIRED
  isActive (yes | no) "yes"
>

<!ELEMENT AssignedHeadFeatures (FeatureValueList+) >
<!ELEMENT AssignedFootFeatures (FeatureValueList+) >

<!ELEMENT RequiredEnvironments (Environment+) >
<!ELEMENT ExcludedEnvironments (Environment+) >
<!ELEMENT Environment (LeftEnvironment?, RightEnvironment?) >

<!ELEMENT RequiredMorphemeCoOccurrences (MorphemeCoOccurrence+) >
<!ELEMENT ExcludedMorphemeCoOccurrences (MorphemeCoOccurrence+) >

<!ELEMENT MorphemeCoOccurrence EMPTY >
<!ATTLIST MorphemeCoOccurrence
  morphemes IDREFS #REQUIRED
  adjacency (anywhere | somewhereToLeft | somewhereToRight | adjacentToLeft | adjacentToRight) "anywhere"
>

<!ELEMENT RequiredAllomorphCoOccurrences (AllomorphCoOccurrence+) >
<!ELEMENT ExcludedAllomorphCoOccurrences (AllomorphCoOccurrence+) >

<!ELEMENT AllomorphCoOccurrence EMPTY >
<!ATTLIST AllomorphCoOccurrence
  allomorphs IDREFS #REQUIRED
  adjacency (anywhere | somewhereToLeft | somewhereToRight | adjacentToLeft | adjacentToRight) "anywhere"
>

<!ELEMENT Properties (Property+) >
<!ELEMENT Property (#PCDATA) >
<!ATTLIST Property
  name CDATA #REQUIRED
 >
<!--
   =====================
   CharacterDefinitionTable
   =====================
-->
<!ELEMENT CharacterDefinitionTable (Name, Encoding, SegmentDefinitions?, BoundaryDefinitions* ) >
<!ATTLIST CharacterDefinitionTable
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!ELEMENT Name (#PCDATA) >
<!-- Encoding is not used by Hermit Crab; only for interacting with Cellar; but it is listed as obligatory -->
<!ELEMENT Encoding (#PCDATA) >
<!ELEMENT SegmentDefinitions (SegmentDefinition*) >
<!ELEMENT SegmentDefinition (Representation, FeatureValuePair*) >
<!ATTLIST SegmentDefinition
  isActive (yes | no) "yes"
>
<!ELEMENT Representation (#PCDATA) >
<!ATTLIST Representation
  id ID #REQUIRED
>
<!ELEMENT BoundaryDefinitions (BoundarySymbol+) >
<!ELEMENT BoundarySymbol (#PCDATA) >
<!ATTLIST BoundarySymbol
  id ID #REQUIRED
  >

<!--
   =====================
   FeatureSystems
   =====================
-->
<!ELEMENT PhonologicalFeatureSystem (FeatureDefinition*) >
<!--
  Note: at most one should be active at a time
  -->
<!ATTLIST PhonologicalFeatureSystem
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!ELEMENT HeadFeatures (FeatureDefinition*) >
<!ELEMENT FootFeatures (FeatureDefinition*) >
<!ELEMENT FeatureDefinition (Feature, (ValueList | FeatureList)) >
<!ATTLIST FeatureDefinition
  id ID #REQUIRED
  isActive (yes | no) "yes"
>

<!ELEMENT FeatureList EMPTY>
<!ATTLIST FeatureList
  features IDREFS #REQUIRED
>

<!ELEMENT Feature (#PCDATA) >
<!--
  feature refers to a Feature ID (within either HeadFeatures or FootFeatures)
  defaultValue refers to a Value ID (value must be defined for the current Feature)
	Note that this was originally intended only for Head and Foot features.
	We may be able to extend it to phonological features at some point (but we need to think carefully about this).
	The idea might be that at the end of a derivation, if no value has been assigned to the feature, it gets the default value.
  -->
<!ATTLIST Feature
  id ID #REQUIRED
  defaultValue IDREF #IMPLIED
>
<!ELEMENT Value (#PCDATA) >
<!ATTLIST Value
  id ID #REQUIRED
>
<!-- Note: for phonlogical features like [son:+] and [nas:+], we create separate values for "+"; potentially we could reuse them -->
<!ELEMENT ValueList (Value+) >
<!ELEMENT  FeatureValuePair EMPTY>
<!--
  feature refers to a Feature ID
  value refers to a Value ID (value must be defined for the Feature referred to by feature)
  -->
<!ATTLIST FeatureValuePair
  isActive (yes | no) "yes"
  feature IDREF #REQUIRED
  value IDREF #REQUIRED
>
<!ELEMENT FeatureValueList (FeatureValueList*)>
<!--
  feature refers to a Feature ID
  values refers to one or more Value IDs (the values must be defined for the Feature referred to by feature)
  -->
<!ATTLIST FeatureValueList
  id ID #REQUIRED
  isActive (yes | no) "yes"
  feature IDREF #REQUIRED
  values IDREFS #IMPLIED
>
<!--
   =====================
   Strata
   =====================
-->
<!ELEMENT Strata (Stratum*, AffixTemplate*) >
<!ATTLIST Strata
  id ID #REQUIRED
  isActive (yes | no) "yes"
 >
<!--
N.B. Hermit Crab's text input uses "property setting records"
  -->
<!ELEMENT Stratum (Name) >
<!--
   affixTemplates refers to one or more AffixTemplate IDs
  characterDefinitionTable refers to a CharacterDefinitionTable ID
  -->
<!ATTLIST Stratum
  id ID #REQUIRED
  isActive (yes | no) "yes"
  affixTemplates IDREFS #IMPLIED
  characterDefinitionTable IDREF #REQUIRED
  cyclicity (cyclic | noncyclic) #IMPLIED
  morphologicalRuleOrder (linear | unordered) #IMPLIED
  phonologicalRuleOrder (linear | simultaneous) #IMPLIED
>
<!ELEMENT AffixTemplate (Name, Slot+) >
<!--
  slots refers to one or more Slot IDs
  requiredPartsOfSpeech refers to one or more PartOfSpeech IDs
  requiredSubcategorizedRules refers to one or more SyntacticRule IDs
  -->
<!ATTLIST AffixTemplate
  id ID #REQUIRED
  isActive (yes | no) "yes"
  requiredPartsOfSpeech IDREFS #IMPLIED
  requiredSubcategorizedRules IDREFS #IMPLIED
>
<!ELEMENT Slot (Name) >
<!--
  morphologicalRules refers to one or more MorphologicalRule or RealizationalRule IDs; these are ordered
  -->
<!ATTLIST Slot
  id ID #REQUIRED
  isActive (yes | no) "yes"
  optional (true | false) #IMPLIED
  morphologicalRules IDREFS #REQUIRED
>
<!--
   =====================
   NaturalClasses
   =====================
-->
<!ELEMENT NaturalClasses (FeatureNaturalClass | SegmentNaturalClass)* >

<!ELEMENT FeatureNaturalClass (Name, FeatureValuePair*) >
<!ATTLIST FeatureNaturalClass
  id ID #REQUIRED
  isActive (yes | no) "yes"
>

<!ELEMENT SegmentNaturalClass (Name, Segment*) >
<!ATTLIST SegmentNaturalClass
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!--
   =====================
   MorphologicalRules
   =====================
-->
<!ELEMENT MorphologicalRules (MorphologicalRule | RealizationalRule | CompoundingRule)* >
<!ATTLIST MorphologicalRules
 id ID #REQUIRED
>
<!ELEMENT MorphologicalRule (Name, Gloss?, MorphologicalSubrules, OutputSubcategorizationOverrides?, OutputHeadFeatures?, OutputFootFeatures?,
															RequiredHeadFeatures?, RequiredFootFeatures?, RequiredMorphemeCoOccurrences?, ExcludedMorphemeCoOccurrences?) >
<!--
  stratum refers to a Stratum ID
  requiredPartsOfSpeech refers to one or more PartOfSpeech IDs
  requiredSubcategorizedRules refers to one or more SyntacticRule IDs
  outputPartOfSpeech refers to a PartOfSpeech ID
  outputSubcategorization refers to one or more SyntacticRule IDs
  outputObligatoryFeatures refers to one or more (HeadFeature) FeatureDefinition IDs
  (Note: what was Output Subcategorization (sub) in the text form of Hermit Crab has been split into
	the outputSubcategorization attribute plus the OutputSubcategorizationOverrides element (and its content).)
  -->
<!ATTLIST MorphologicalRule
  id ID #REQUIRED
  isActive (yes | no) "yes"
  stratum IDREF #REQUIRED
  blockable (true | false) "true"
  multipleApplication (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9) "1"
  requiredPartsOfSpeech IDREFS #IMPLIED
  requiredSubcategorizedRules IDREFS #IMPLIED
  outputPartOfSpeech IDREF #IMPLIED
  outputSubcategorization IDREFS #IMPLIED
  outputObligatoryFeatures IDREFS #IMPLIED
>
<!--
  stratum refers to a Stratum ID
  -->
<!ELEMENT RealizationalRule (Name, Gloss?, MorphologicalSubrules, RealizationalFeatures?, RequiredHeadFeatures?, RequiredFootFeatures?) >
<!ATTLIST RealizationalRule
  id ID #REQUIRED
  isActive (yes | no) "yes"
  stratum IDREF #REQUIRED
  blockable (true | false) "true"
>
<!--
  stratum refers to a Stratum ID
  headPartsOfSpeech refers to one or more PartOfSpeech IDs
  nonheadPartsOfSpeech refers to one or more PartOfSpeech IDs
  headSubcategorizedRules refers to one or more SyntacticRule IDs
  nonheadSubcategorizedRules refers to one or more SyntacticRule IDs
  outputPartOfSpeech refers to a PartOfSpeech ID
  outputSubcategorization refers to one or more SyntacticRule IDs
  outputObligatoryFeatures refers to one or more (HeadFeature) FeatureDefinition IDs
  (Note: what was Output Subcategorization (sub) in the text form of Hermit Crab has been split into
	the outputSubcategorization attribute plus the OutputSubcategorizationOverrides element (and its content).)
  -->
<!ELEMENT CompoundingRule (Name, Gloss?, CompoundSubrules, OutputSubcategorizationOverrides?, OutputHeadFeatures?, OutputFootFeatures?,
															HeadRequiredHeadFeatures?, NonHeadRequiredHeadFeatures?, HeadRequiredFootFeatures?, NonHeadRequiredFootFeatures?) >
<!ATTLIST CompoundingRule
  id ID #REQUIRED
  isActive (yes | no) "yes"
  stratum IDREF #REQUIRED
  blockable (true | false) "true"
  multipleApplication (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9) "1"
  headPartsOfSpeech IDREFS #IMPLIED
  nonheadPartsOfSpeech IDREFS #IMPLIED
  headSubcategorizedRules IDREFS #IMPLIED
  nonheadSubcategorizedRules IDREFS #IMPLIED
  outputPartOfSpeech IDREF #IMPLIED
  outputSubcategorization IDREFS #IMPLIED
  outputObligatoryFeatures IDREFS #IMPLIED
>

<!ELEMENT MorphologicalSubrules (MorphologicalSubruleStructure+) >
<!ELEMENT MorphologicalSubruleStructure (VariableFeatures?, InputSideRecordStructure, OutputSideRecordStructure, RequiredEnvironments?, ExcludedEnvironments?,
										 RequiredAllomorphCoOccurrences?, ExcludedAllomorphCoOccurrences?, Properties?) >
<!ATTLIST MorphologicalSubruleStructure
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!ELEMENT InputSideRecordStructure (RequiredPhoneticInput) >
<!--
	requiredMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
	excludedMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
-->
<!ATTLIST InputSideRecordStructure
  requiredMPRFeatures IDREFS #IMPLIED
  excludedMPRFeatures IDREFS #IMPLIED
>
<!ELEMENT RequiredPhoneticInput (PhoneticSequence+) >

<!ELEMENT OutputSideRecordStructure (MorphologicalPhoneticOutput+) >
<!--
	MPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
-->
<!ATTLIST OutputSideRecordStructure
  MPRFeatures IDREFS #IMPLIED
  redupMorphType (prefix | suffix | implicit) "implicit"
>
<!ELEMENT MorphologicalPhoneticOutput (CopyFromInput | InsertSimpleContext | ModifyFromInput | InsertSegments)* >
<!ATTLIST MorphologicalPhoneticOutput
  id ID #REQUIRED
>
<!ELEMENT CopyFromInput EMPTY>
<!--
  index refers to a RequiredPhoneticInput ID
  -->
<!ATTLIST CopyFromInput
  index IDREF #REQUIRED
>
<!ELEMENT InsertSimpleContext (SimpleContext) >
<!ELEMENT ModifyFromInput (SimpleContext)>
<!--
  index refers to a RequiredPhoneticInput ID
  -->
<!ATTLIST ModifyFromInput
  index IDREF #REQUIRED
>
<!ELEMENT InsertSegments (PhoneticShape) >
<!--
  characterTable refers to a CharacterDefinitionTable ID
  representation refers to one or more Representation IDs (which should be part of the CharacterDefinitionTable referred to by characterTable)
  -->
<!ATTLIST InsertSegments
  characterTable IDREF #REQUIRED
>
<!ELEMENT VariableFeatures (VariableFeature+) >
<!ELEMENT VariableFeature EMPTY >
<!--
  phonologicalFeature refers to a (PhonologicalFeatureSystem) Feature ID
  -->
<!ATTLIST VariableFeature
  id ID #REQUIRED
  name (α | β | γ | δ | ε | ζ | η | θ | ι | κ | λ | μ | ν | ξ | ο | π | ρ | σ | τ | υ | φ | χ | ψ | ω) #REQUIRED
  phonologicalFeature IDREF #REQUIRED
>
<!--
 For OutputHeadFeatures and RequiredHeadFeatures, the Features need to be HeadFeatures.
For OutputFootFeatures and RequiredFootFeatures, the Features need to be FootFeatures.
-->
<!ELEMENT OutputHeadFeatures (FeatureValueList+) >
<!ELEMENT OutputFootFeatures (FeatureValueList+) >
<!ELEMENT RequiredHeadFeatures (FeatureValueList+) >
<!ELEMENT RequiredFootFeatures (FeatureValueList+) >
<!ELEMENT RealizationalFeatures (FeatureValueList+) >
<!ELEMENT HeadRequiredHeadFeatures (FeatureValueList+) >
<!ELEMENT HeadRequiredFootFeatures (FeatureValueList+) >
<!ELEMENT NonHeadRequiredHeadFeatures (FeatureValueList+) >
<!ELEMENT NonHeadRequiredFootFeatures (FeatureValueList+) >
<!ELEMENT OutputSubcategorizationOverrides (OutputSubcategorizationOverride+) >
<!ELEMENT OutputSubcategorizationOverride EMPTY >
<!--
  inputSubcategorization refers to a SyntacticRule ID
  outputSubcategorization refers to a SyntacticRule ID
  -->
<!ATTLIST OutputSubcategorizationOverride
  isActive (yes | no) "yes"
  inputSubcategorization IDREF #REQUIRED
  outputSubcategorization IDREF #IMPLIED
>
<!ELEMENT CompoundSubrules (CompoundSubruleStructure+) >
<!ELEMENT CompoundSubruleStructure (HeadRecordStructure, NonHeadRecordStructure, OutputSideRecordStructure, VariableFeatures?, Properties?) >
<!ATTLIST CompoundSubruleStructure
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!ELEMENT HeadRecordStructure (RequiredPhoneticInput) >
<!--
	requiredMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
	excludedMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
-->
<!ATTLIST HeadRecordStructure
  requiredMPRFeatures IDREFS #IMPLIED
  excludedMPRFeatures IDREFS #IMPLIED
>
<!ELEMENT NonHeadRecordStructure (RequiredPhoneticInput) >
<!--
   =====================
   PhoneticSequence
   =====================
-->
<!ELEMENT PhoneticSequence (Segment | Segments | SimpleContext | OptionalSegmentSequence | BoundaryMarker)* >
<!ATTLIST PhoneticSequence
  id ID #IMPLIED
>
<!ELEMENT Segment EMPTY>
<!--
  The id is only needed for a metathesis rule
  characterTable refers to a CharacterDefinitionTable ID
  representation refers to a Representation ID (which should be part of the CharacterDefinitionTable referred to by characterTable)
  -->
<!ATTLIST Segment
  id ID #IMPLIED
  characterTable IDREF #REQUIRED
  representation IDREF #REQUIRED
>
<!ELEMENT Segments (PhoneticShape) >
<!ATTLIST Segments
  id ID #IMPLIED
  characterTable IDREF #REQUIRED
>
<!ELEMENT BoundaryMarker EMPTY>
<!--
  The id is only needed for a metathesis rule
  characterTable refers to a CharacterDefinitionTable ID
  representation refers to a BoundarySymbol ID (which should be part of the CharacterDefinitionTable referred to by characterTable)
  -->
<!ATTLIST BoundaryMarker
  id ID #IMPLIED
  characterTable IDREF #REQUIRED
  representation IDREF #REQUIRED
>
<!ELEMENT SimpleContext (AlphaVariables?) >
<!--
  The id is only needed for a metathesis rule
  naturalClass refers to a NaturalClass ID
  -->
<!ATTLIST SimpleContext
  id ID #IMPLIED
  naturalClass IDREF #REQUIRED
  >
<!ELEMENT AlphaVariables (AlphaVariable+)>
<!ELEMENT AlphaVariable EMPTY >
<!--
  variableFeature refers to a VariableFeature ID
  -->
<!ATTLIST AlphaVariable
  variableFeature IDREF #REQUIRED
  polarity (plus | minus) "plus"
>
<!ELEMENT OptionalSegmentSequence (Segment | Segments | SimpleContext | BoundaryMarker)+ >
<!--
  The id is only needed for a metathesis rule
  min is an integer, zero or higher
  max is an integer, -1 or higher
  -->
<!ATTLIST OptionalSegmentSequence
  id ID #IMPLIED
  min CDATA #IMPLIED
  max CDATA #IMPLIED
>
<!ELEMENT PhoneticTemplate (PhoneticSequence) >
<!ATTLIST PhoneticTemplate
  initialBoundaryCondition (true | false) "false"
  finalBoundaryCondition (true | false) "false"
>
<!--
   =====================
   PhonologicalRules
   =====================
-->
<!ELEMENT PhonologicalRules (PhonologicalRule | MetathesisRule)*>
<!ELEMENT PhonologicalRule (Name, VariableFeatures?, PhoneticInputSequence, PhonologicalSubrules)>
<!--
  ruleStrata refers to one or more Stratum IDs; this is ordered from deepest to shallowest
  -->
<!ATTLIST  PhonologicalRule
  id ID #REQUIRED
  isActive (yes | no) "yes"
  multipleApplicationOrder (leftToRightIterative | rightToLeftIterative | simultaneous) "leftToRightIterative"
  ruleStrata IDREFS #REQUIRED
>
<!ELEMENT PhoneticInputSequence (PhoneticSequence*) >
<!ATTLIST PhoneticInputSequence
  id ID #REQUIRED
>
<!ELEMENT PhonologicalSubrules (PhonologicalSubrule+) >
<!ELEMENT PhonologicalSubrule (PhonologicalSubruleStructure+) >
<!ATTLIST PhonologicalSubrule
  isActive (yes | no) "yes"
  requiredPartsOfSpeech IDREFS #IMPLIED
  requiredMPRFeatures IDREFS #IMPLIED
  excludedMPRFeatures IDREFS #IMPLIED
>
<!ELEMENT PhonologicalSubruleStructure (PhoneticOutput, Environment?, PreviousWord?, NextWord?) >
<!--
  requiredPartsOfSpeech refers to one or more PartOfSpeech IDs
	requiredMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
	excludedMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
-->
<!ATTLIST PhonologicalSubruleStructure
  isActive (yes | no) "yes"
  requiredPartsOfSpeech IDREFS #IMPLIED
  requiredMPRFeatures IDREFS #IMPLIED
  excludedMPRFeatures IDREFS #IMPLIED
>
<!ELEMENT PhoneticOutput (PhoneticSequence*) >
<!ATTLIST PhoneticOutput
  id ID #REQUIRED
  >
<!ELEMENT LeftEnvironment (PhoneticTemplate) >
<!ATTLIST LeftEnvironment
  id ID #REQUIRED
  >
<!ELEMENT RightEnvironment (PhoneticTemplate) >
<!ATTLIST RightEnvironment
  id ID #REQUIRED
  >
<!ELEMENT PreviousWord (PhoneticTemplate | Null) >
<!ATTLIST PreviousWord
  id ID #REQUIRED
  >
<!ELEMENT NextWord (PhoneticTemplate | Null) >
<!ATTLIST NextWord
  id ID #REQUIRED
  >

<!ELEMENT Null EMPTY >
<!ATTLIST Null
  id ID #REQUIRED
>
<!--
N.B. Hermit Crab itself does not have phonological metathesis rules, but we will need to add this capability
-->
<!ELEMENT MetathesisRule (Name, StructuralDescription) >
<!--
  ruleStrata refers to one or more Stratum IDs; this is ordered from deepest to shallowest
  -->
<!ATTLIST MetathesisRule
  isActive (yes | no) "yes"
  id ID #REQUIRED
  structuralChange IDREFS #REQUIRED
  multipleApplicationOrder (leftToRightIterative | rightToLeftIterative | simultaneous) "leftToRightIterative"
  ruleStrata IDREFS #REQUIRED
>
<!ELEMENT StructuralDescription (PhoneticTemplate) >
<!--
   =====================
   SyntacticRules
   =====================
-->
<!ELEMENT SyntacticRules (SyntacticRule*) >
<!ELEMENT SyntacticRule (#PCDATA) >
<!ATTLIST SyntacticRule
  id ID #REQUIRED
>
<!--
   =====================
   MorphologicalPhonologicalRuleFeatures
   =====================
-->
<!ELEMENT MorphologicalPhonologicalRuleFeatures (MorphologicalPhonologicalRuleFeature*, MorphologicalPhonologicalRuleFeatureGroup*) >
<!ELEMENT MorphologicalPhonologicalRuleFeature (#PCDATA) >
<!ATTLIST MorphologicalPhonologicalRuleFeature
  id ID #REQUIRED
  isActive (yes | no) "yes"
>
<!ELEMENT MorphologicalPhonologicalRuleFeatureGroup (Name)>
<!ATTLIST MorphologicalPhonologicalRuleFeatureGroup
  id ID #REQUIRED
  isActive (yes | no) "yes"
  matchType (any | all) "any"
  outputType (overwrite | append) "overwrite"
  features IDREFS #REQUIRED
>
<!--
   =====================
   Commands
   =====================
-->
<!ELEMENT Commands (ShowCharacterDefinitionTable |
											   ListTracedMorpherRules | ShowActiveMorphologyRules | ShowActivePhonologyRules | ShowDefaultMorpherFeatureValue |
											   ShowDerivations | ShowMorphings |
											   TraceBlocking | TraceLexicalLookup | TraceMorpherRule | TraceMorpherStrata | TraceMorpherTemplates | TraceMorpherSuccess |
											   GenerateWord |
											   FindLexicalEntries |ShowLexicalEntry |
											   MorphAndLookupWord | MorphAndLookupList |
											   MorpherSet | MorpherShow |
											   ShowNaturalClass |
											   ShowStratum | ShowStratumPhonologicalRules | ShowStratumMorphologicalRules |
											   MorpherOutputToFile)* >
<!ELEMENT ShowCharacterDefinitionTable EMPTY >
<!--
  table refers to a CharacterDefinitionTable ID
  -->
<!ATTLIST ShowCharacterDefinitionTable
  table IDREF #REQUIRED
>
<!ELEMENT ListTracedMorpherRules EMPTY >
<!ELEMENT ShowActiveMorphologyRules EMPTY >
<!--
  rule refers to a MorphologicalRule, RealizationalRule, or CompoundingRule ID
  ruleStratum refers to a Stratum ID
  requiredPhoneticInput refers to a RequiredPhoneticInput ID
  phoneticOutput refers to a MorphologicalPhoneticOutput ID
  requiredPartsOfSpeech refers to one or more PartOfSpeech IDs
  requiredSubcategorizedRules refers to one or more SyntacticRule IDs
  requiredHeadFeatures refers to one or more FeatureValueList IDs
  requiredFootFeatures refers to one or more FeatureValueList IDs
  requiredMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
  excludedMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
  outputPartOfSpeech refers to a PartOfSpeech or Null ID
  outputSubcategorization refers to a SyntacticRule ID
  outputHeadFeatures refers to one or more FeatureValueList IDs
  outputFootFeatures refers to one or more FeatureValueList IDs
  outputMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
  outputObligatoryFeatures refers to one or more (HeadFeature) FeatureDefinition IDs

-->
<!ATTLIST ShowActiveMorphologyRules
  rule IDREF #IMPLIED
  ruleStrata IDREF #IMPLIED
  blockability  (true | false) #IMPLIED
  requiredPhoneticInput  IDREF #IMPLIED
  phoneticOutput IDREF #IMPLIED
  requiredPartsOfSpeech IDREFS #IMPLIED
  requiredSubcategorizedRules IDREFS #IMPLIED
  requiredHeadFeatures IDREFS #IMPLIED
  requiredFootFeatures IDREFS #IMPLIED
  requiredMPRFeatures IDREFS #IMPLIED
  excludedMPRFeatures IDREFS #IMPLIED
  outputPartOfSpeech IDREF #IMPLIED
  outputSubcategorization IDREF #IMPLIED
  outputHeadFeatures IDREFS #IMPLIED
  outputFootFeatures IDREFS #IMPLIED
  outputMPRFeatures IDREFS #IMPLIED
  outputObligatoryFeatures IDREFS #IMPLIED
>
<!ELEMENT ShowActivePhonologyRules EMPTY >
<!--
  rule refers to a PhonologicalRule or a MetathesisRule ID
  ruleStrata refers to one or more Stratum IDs; this is ordered from deepest to shallowest
  leftEnvironment  refers to a LeftEnvironment  ID
  rightEnvironment  refers to a RightEnvironment  ID
  phoneticInputSequence refers to a PhoneticInputSequence ID
  phoneticOutput refers to a PhoneticOutput ID
  previousWord refes to a PreviousWord ID
  followingWord refers to a FollowingWord ID
  requiredMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
  excludedMPRFeatures refers to one or more MorphologicalPhonologicalRuleFeature IDs
-->
<!ATTLIST ShowActivePhonologyRules
  rule IDREF #IMPLIED
  ruleStrata IDREF #IMPLIED
  leftEnvironment IDREF #IMPLIED
  rightEnvironment IDREF #IMPLIED
  phoneticInputSequence IDREF #IMPLIED
  phoneticOutput IDREF #IMPLIED
  previousWord IDREF #IMPLIED
  followingWord IDREF #IMPLIED
  requiredMPRFeatures IDREFS #IMPLIED
  excludedMPRFeatures IDREFS #IMPLIED
>
<!ELEMENT ShowDefaultMorpherFeatureValue EMPTY >
<!--
  feature refers to a Feature ID (within either HeadFeatures or FootFeatures)
-->
<!ATTLIST ShowDefaultMorpherFeatureValue
  feature IDREF #REQUIRED
>
<!ELEMENT ShowDerivations EMPTY > <!-- NEEDS TO BE FLESHED OUT -->
<!ELEMENT ShowMorphings EMPTY > <!-- NEEDS TO BE FLESHED OUT -->
<!ELEMENT TraceBlocking EMPTY >
<!ATTLIST TraceBlocking
  on (true | false) "false"
>
<!ELEMENT TraceLexicalLookup EMPTY >
<!ATTLIST TraceLexicalLookup
  on (true | false) "false"
>
<!ELEMENT TraceMorpherRule EMPTY >
<!--
  rule refers to the ID of a PhonologicalRule, a MetathesisRule, a MorphologicalRule, a RealizationalRule, or a CompoundingRule
  -->
<!ATTLIST TraceMorpherRule
  analysisMode (true | false) #REQUIRED
  generateMode (true | false) #REQUIRED
  rule IDREF #IMPLIED
>
<!ELEMENT TraceMorpherStrata EMPTY >
<!ATTLIST TraceMorpherStrata
  analysisMode (true | false) #REQUIRED
  generateMode (true | false) #REQUIRED
>
<!ELEMENT TraceMorpherTemplates EMPTY >
<!ATTLIST TraceMorpherTemplates
  analysisMode (true | false) #REQUIRED
  generateMode (true | false) #REQUIRED
>
<!ELEMENT TraceMorpherSuccess EMPTY >
<!ATTLIST TraceMorpherSuccess
  on (true | false) "false"
>
<!--
  The rules in the first MorphologicalRuleSet should be in the same stratum as the lexicalEntry attribute
  The rules in each MorphologicalRuleSet should be in a following stratum
  -->
<!ELEMENT GenerateWord (MorphologicalRuleSet+, (PreviousWordToken? | (PreviousWordToken, FollowingWordToken))) >
<!--
  lexicalEntry refers to a LexicalEntry ID
  realizationalFeatures refers to one or more (HeadFeatures) FeatureDefinition ID
-->
<!ATTLIST GenerateWord
  resultFormat (message | prettyPrint) "message"
  lexicalEntry IDREF #REQUIRED
  realizationalFeatures IDREFS #IMPLIED
 >
<!ELEMENT PreviousWordToken (TokenRecord) >
<!ELEMENT FollowingWordToken (TokenRecord) >
<!--
Where is this defined??
-->
<!ELEMENT TokenRecord EMPTY >  <!-- NEEDS TO BE FLESHED OUT -->
<!ELEMENT FindLexicalEntries EMPTY >  <!-- NEEDS TO BE FLESHED OUT -->
<!ELEMENT ShowLexicalEntry EMPTY >
<!--
  lexicalEntry refers to a LexicalEntry ID
  -->
<!ATTLIST ShowLexicalEntry
  lexicalEntry IDREF #REQUIRED
>
 <!ELEMENT MorphologicalRuleSet EMPTY >
 <!--
  morphologicalRules refers to one or more  MorphologicalRule IDs
	  each rule in a set should be for the same stratum
 -->
 <!ATTLIST MorphologicalRuleSet
  morphologicalRules IDREFS #IMPLIED
 >
<!ELEMENT MorphAndLookupWord (PreviousInputWord?, CurrentInputWord, FollowingInputWord?) >
<!ATTLIST MorphAndLookupWord
  isActive (yes | no) "yes"
 resultFormat (message | prettyPrint) "message"
 >
 <!ELEMENT PreviousInputWord (#PCDATA) >
<!ELEMENT CurrentInputWord (#PCDATA) >
<!ELEMENT FollowingInputWord (#PCDATA) >
<!ELEMENT MorphAndLookupList (Word+) >
<!ELEMENT Word (#PCDATA) >
<!ELEMENT MorpherSet (MorpherSetBoolean | MorpherSetInteger) >
<!ELEMENT MorpherSetBoolean EMPTY>
<!ATTLIST MorpherSetBoolean
  variable (quitOnError | showGlosses | traceInputs) #REQUIRED
  value (true | false) #REQUIRED
>
<!ELEMENT MorpherSetInteger EMPTY >
<!ATTLIST MorpherSetInteger
  variable (deletionRuleReApplications) "deletionRuleReApplications"
  value (0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9) "0"
>
<!ELEMENT MorpherShow EMPTY>
<!ATTLIST MorpherShow
  variable (deletionRuleReApplications | quitOnError | showGlosses | traceInputs) #REQUIRED
>
<!ELEMENT ShowNaturalClass EMPTY >
<!--
  class refers to a NaturalClass ID
  -->
<!ATTLIST ShowNaturalClass
  class IDREF #REQUIRED
>
<!ELEMENT ShowStratum EMPTY >
<!--
  stratum refers to a Stratum ID
  -->
<!ATTLIST ShowStratum
  stratum IDREF #REQUIRED
>
<!ELEMENT ShowStratumPhonologicalRules EMPTY >
<!--
  stratum refers to a Stratum ID
  -->
<!ATTLIST ShowStratumPhonologicalRules
  stratum IDREF #REQUIRED
>
<!ELEMENT ShowStratumMorphologicalRules EMPTY >
<!--
  stratum refers to a Stratum ID
  -->
<!ATTLIST ShowStratumMorphologicalRules
  stratum IDREF #REQUIRED
>
<!ELEMENT MorpherOutputToFile (#PCDATA) >
